:root {
    --primary-color:#005BFF;
    --primary-color-hover:#1A6CFF;
    --grey-color:#99A3AE;
    --grey-second-color:#DCE1E6;
    --secondary-color:#001A34;

    --text-primary-color:#070707;
    --text-secondary-color:#001A34;

    --star-color: #FFA500;
    --transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
}
html {
  scrollbar-color: var(--primary-color) var(--text-secondary-color);
}

